.record-details--container {
	min-width: 100dvw;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

@keyframes animationBox {
	from {
		padding: 2.2rem;
	}
	to {
		padding: 1.5rem;
	}
}
@keyframes animationImg {
	from {
		scale: 0.8;
		translate: 0 -40px;
	}
	to {
		scale: 1.05;
		translate: 0 0;
	}
}
@keyframes animationText {
	from {
		translate: 0 0;
	}
	to {
		translate: 0 0.5rem;
	}
}

.record-details--inner-box {
	--translate-transition: 0.5s;

	box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.236);

	animation: animationBox var(--translate-transition) forwards;

	border: 5px solid rgb(78, 78, 78);
	padding: 1.5rem;
	border-radius: 12px;
	transition: all ease-in-out var(--translate-transition);

	> picture img {
		border-radius: 10px;

		animation: animationImg var(--translate-transition) forwards;
	}

	> #record-details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		animation: animationText var(--translate-transition) forwards;
	}
}

#record-details > p {
	text-transform: capitalize;
	font-family: "Courier New", Courier, monospace;
}
